
@{
    ViewBag.Title = "History";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div data-ng-app="APIModule">
    <div id="tbl" ng-controller="APIController">
        <div class="alert alert-danger animate-show" role="alert" ng-show="error != null">{{ error }} </div>
        <div class="alert alert-success animate-show" role="alert" ng-show="success != null">{{ success }}</div>
        <div class="form-group">
            <label for="urlLong">Генератор коротких ссылок</label>
            <input type="url" class="form-control" id="urlLong" placeholder="Вставьте ссылку" [required="url" ] data-ng-model="urlLong" />
        </div>
        <button type="button" class="btn btn-default" data-ng-click="generate();">Генерировать</button>
    </div>
</div>

    

